html,
body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
    color: #fff;
}
canvas,
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    word-break: break-word;
}

nav div {
    opacity: 0.5;
    transition: opacity 0.2s;
}

nav div:hover {
    opacity: 1;
}

[onclick] {
    cursor: pointer;
}

@keyframes intro {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}
